<% @products.each do |product| %>
    <p><%= product.name %>, <%= product.description %></p>
    <p>$<%= product.formatted_price %></p>
    <p><%= link_to "Edit Product", "/products/#{product.id}/edit"%></p>
    <p><%= link_to "Show Product", product %></p>
    <hr>
<% end %>