<!-- this is the main index.html page for the index method inside producsts_controller.rb file -->
<h1>Product Directory</h1>
<!-- this is a link to the /products/new.html.erb file -->

<%= link_to "New Product", "/products/new" %>


<!-- This is located in the products/index.html.erb file to display the products -->
<% @products.each do |product| %>
    <p><%= product.name %>, <%= product.description %></p>
    <%= product.price_in_cents %>
    <%= link_to "Edit Product", "/products/#{product.id}/edit"%>

<% end %>