<!-- this is the main index.html page for the index method inside producsts_controller.rb file -->
<h1>Product Directory</h1>
<!-- this is a link to the /products/new.html.erb file -->

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
<% end %>


<%= link_to "New Product", "/products/new" %>


<!-- This is located in the products/_productinfo.html.erb partial file to display the products -->
<%= render 'productinfo' %>