<%= link_to "Add a product", new_product_path %>

<!-- renders a helpful message with numbers of displayed vs. total entries -->
<h1>Products <small><%= page_entries_info @products %></small></h1>

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
<% end %>

<hr/>

<ul id="products">
  <!-- this will implicitly know that my _product.html.erb file will be looped to show all products -->
  <%= render @products %>
</ul>

<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @products %>