<h1>Products</h1>

<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p>$<%= @product.formatted_price %></p>

<%= link_to 'Back', products_path %><br/>

<% if current_user %>
    <%= link_to "Edit", "/products/#{@product.id}/edit"%> |
    <%= link_to "Delete", @product, method: :delete, data: {confirm: "Are you sure you want to delete this product?"}  %>
    <h3>Reviews</h3>

    <p>Reviews for <%= @product.name %></p>
    <div id="review-list">
     <%= render @product.reviews %>
    </div>

<!-- this is where you create a new review -->
    <h4>New Review</h4>
    <!-- render the review_form if current_user =/= nil -->
    <%= render 'review_form' if current_user %>
    <script type="text/javascript">
        $(function() {
            $("#new_review")
                    .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
                        $("input[type='submit']") // make changes to the submit button
                                .val('Saving...') // change the text on the button
                                .attr('disabled', 'disabled'); // disable the button
                    })
                    .on('ajax:complete', function() {
                        $("input[type='submit']")
                                .val('Create Review')
                                .removeAttr('disabled');
                    });
        });
    </script>
<% else %>
    <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>


