<h1>Products</h1>

<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p>$<%= @product.formatted_price %></p>

<%= link_to 'Back', products_path %><br/>

<% if current_user %>
    <%= link_to "Edit", "/products/#{@product.id}/edit"%> |
    <%= link_to "Delete", @product, method: :delete, data: {confirm: "Are you sure you want to delete this product?"}  %>
    <h3>Reviews</h3>

    <p>Reviews for <%= @product.name %></p>

    <% @product.reviews.each do |review| %>
        <p>
          <div class="review">
            <div class="poster">
              Posted by <%= review.user %> on <% review.created_at %>
            </div>
            <p class="comment">
              <%= review.comment %>
            </p>
          </div>
        <% end %>



<!-- this is where you create a new review -->
    <h4>New Review</h4>

    <%= render 'review_form' %>

<% else %>
    <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>
